/*common start*/
body{
	margin:0;
	padding:0;
}
/*common start*/ 

/*header start*/
header{
	padding: 10px 0;
	/*border:1px solid black;*/
	border-bottom: 1px solid #EEF0F3;
}
.container {
	margin: 0 auto;
	width:90%;
	/*border:1px solid black;*/
	overflow: hidden;
}
.logo {
	float:left;
	width:10%;
	/*border:1px solid black;*/
}
.logo img{
	width:100%;
}
.menu {
	float:right;
	width:45%;
	/*border:1px solid black;*/
}
.menu ul{
	float: right;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #0F2656;
	text-decoration:none;
	text-transform: capitalize;
	padding: 0 20px;
	display:inline-block;
}
.menu ul li a:hover{
	color: #0C66FF;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*header end*/

/*banner start*/
.banner {
	padding: 50px 0;
	/*border:1px solid red;*/
}

.container2 {
	margin: 0 auto;
	width:70%;
	text-align: center;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.b_content {
}
.b_content h1 {
	margin:20px 225px;
	font-family: sans-serif;
	font-size: 35px;
	font-weight:700;
	color:#0f2656;
	line-height: 45px;
}
.b_content h1 span {
	color:#008AFF;
}
.b_content p {
	margin:15px 105px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight:400;
	color:#0f2656;
	line-height: 25px;
}
.b_img {
	margin: 0 auto;
	width: 65%;
}
.b_img img{
	width: 100%;
}
/*banner end*/

/*successful start*/
.success {
}
.container3{
	width: 60%;
	margin: 0 auto;
	/*border: 1px solid;*/
	overflow: hidden;
}
.s_content {
	overflow: hidden;
}
.left {
	margin: 15px 20px;
	width: 37%;
	float: left;
	text-align: right;
	/*border: 1px solid;*/
	padding: 0 20px;
}
.left h2{
	margin: 20px 0;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #F15767;
	line-height: 25px;
}
.left p{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0F2656;
	line-height: 25px;
}
.right {
	margin: 15px 15px;
	width: 48%;
	float: right;
	text-align:left;
	/*rder: 1px solid;*/
	padding: 0 5px;
}
.right h1{
	margin: 5px 0;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: 700px;
	color: #0F2656;
	line-height: 55px;
}
/*successful end*/



/*service start */
.service{
	text-align: center;
	color: solid black;
	display: flex;
	justify-content: center;
	padding: 50px 0 50px 0;
    
}
.card1{
	width: 300px;
	height: 320px;
	background-color: #FDEBED;
	float: left;
	margin-right: 30px;
	border-radius: 5px;
	padding: 60px 20px 20px 20px;
	font-family: sans-serif;
	color: #0f2656;
	text-align: left;
	line-height: 120%;
}
.card2{
	width: 300px;
	height: 320px;
	background-color: #EBF9F4;
	float: left;
	margin-right: 30px;
	border-radius: 5px;
	padding: 60px 20px 20px 20px;
	font-family: sans-serif;
	color: #0f2656;
	text-align: left;
	line-height: 120%;
}
.card3{
	width: 300px;
	height: 320px;
	background-color: #FFF7E8;
	float: left;
	margin-right: 30px;
	border-radius: 5px;
	padding: 60px 20px 20px 20px;
	font-family: sans-serif;
	color: #0f2656;
	text-align: left;
	line-height: 120%;
}
img{
	width: 80%;
	height: 50%;
	padding-left: 30px;
}
/*service end */



/* footer start */
.footer{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	background-color: #008AFF;
	width: 100%;
	height: 50px;
	padding: 17px 0 0 17px;
}
.footer span{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}
/* footer start */
